NODE_ENV=production
PORT=3000

APP_URL=http://album.brand-on.pro

SUPABASE_URL=https://kjfacubjzfpbkcifcyyu.supabase.co
SUPABASE_ANON_KEY=PEGA_AQUI_TU_SUPABASE_ANON_KEY

OPENAI_API_KEY=PEGA_AQUI_TU_OPENAI_API_KEY
OPENAI_MODEL=gpt-5.4-mini
